.highlight {
    background-color: lightskyblue !important;
    /* Color para resaltar la fecha de hoy */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.crud-app-container {
    /* grid-template-columns: 20% 1fr; */
    /* 20% para el formulario y el resto para la imageFull */
    /* height: 100vh; */
    /* Altura completa de la ventana */
    max-width: 95%;
    margin: auto;
}

.title {
    text-align: center;
    color: skyblue;
}

.crud-form {
    display: flex;
    margin: 20px auto 20px;
    flex-direction: column;
    width: 270px;
    /* height: 13rem; */
    background-color: red;
    padding: 17px;
    border-radius: 12px;
    position: fixed;
    bottom: 20px;
    right: 2.4%;
}

.crud-form input,
.crud-form button {
    font-size: 17px;
    margin: 3px;
    padding: 5px;
    width: 250px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.crud-form button {
    width: 200px;
}

.editingButton {
    background-color: red;
    font-size: 17px;
    padding: 4px;
    font-weight: bolder;
    color: white;
    border: 2px solid red;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.editionButton {
    margin: 5px;
}

.grid-container {
    display: grid;
    /* Seis columnas */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 8rem 8rem 1fr 1fr 1fr 1fr; */
    gap: 1px;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-bottom: 15rem;
    /* margin-left: 19rem; */
    /* width: 70%; */
    /* grid-template-columns: 0fr 0fr 8rem 7rem 1fr 0fr; */
}

.grid-header {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}

.grid-item {
    padding: 10px;
    border: 1px solid mediumaquamarine;
    text-align: center;
    background-color: #fff;
    /* max-width: min-content;
    overflow: clip; */
    /* align-content: center; */
}

.grid-edition-actions {
    border: 5px solid red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.expand-title {
    border: 0;
}

.expand-content {
    border: 0;
}

.plus-icon {
    display: flex;
    flex-direction: column-reverse;
    font-size: 3em;
    font-weight: bolder;
    color: darkblue;
    cursor: pointer;
    vertical-align: middle;
}

/* RESALTAR DIA ACTUAL Y BACKGROUND DE FILA SELECCIONADA E INFO EXPANDIDA */
.selected-row {
    background-color: aliceblue;
    font-weight: normal;
    /* Cambia a cualquier color que prefieras */
}


/* MENSAJES DE EDICION */

.message {
    padding: 10px 20px !important;
    background-color: #ffe82f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 225px !important;
    text-align: center;
    margin: 5px !important;
    display: none;

}


.message.show {
    opacity: 1;
    background-color: #ffe82f;
    display: inline;

}

.message.hide {
    opacity: 0;
}

/* OCULTA AGREGAR O ACTUALIZAR */
.submit-button {
    padding: 10px 20px !important;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 265px !important;
    text-align: center;
    margin: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.submit-button.hidden {
    display: none;
    position: absolute;
}

/* TERRITORY imageFull FULL */
/* .territoryImageFull {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
} */

/* ZOOM imageFull */

.territoryImageFull {
    position: relative;
    width: 100%;
    /* Ajusta el ancho según sea necesario */
    /* height: 400px; */
    /* Ajusta la altura según sea necesario */
    /* overflow: hidden; */
}


/* Establece el origen de la rotación en el centro de la imagen */
.imageFull {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    /*Suavizalatransición*/
    margin: auto;
    display: flex;
    border-radius: 10px;
    /* transform: rotate(90deg); */
    /* Rota 90 grados en sentido horario */
    /* transform-origin: center; */
    margin: 0px auto 42px;


}
















































































/****************** MODO TELEFONO ********************/

/* PANTALLAS CHICAS*/
@media (max-width: 859px) {

    /* MOTOROLA G8 POWER LITE  450X910*/
    /* MIDIENDO EN G. CHROME... LAS MEDIDAS MAS EXACTAS SERIAN 400 X 860 */
    /* ******************************************** */
    /* MEDIDA 910 MODO PAISAJE LIMITE   */
    /* EN MODO PAISAJE, MAS DE 910, PASA A MODO PANTALLA GRANDE */
    /* MENOS DE 910 ES MODO RETRATO */
    /* ******************************************** */
    /* MEDIDA 450 MODO RETRATO LIMITE   */
    /* EN MODO RETRATO, MENOS DE 450, PASA A MODO PANTALLA GRANDE */
    /* MENOS DE 450 ES MODO PAISAJE */
    body {
        font-size: 17px;
    }

    .title {
        font-size: 25px;
    }

    .crud-form {
        display: none;
    }

    .expand-header {
        display: none;
    }

    .expand-info {
        display: none;
    }

    .expanded-info-header {
        background-color: unset;
        border: 0;
    }

    .expanded-info {
        grid-column: span 3;
        min-height: 40em;
    }

    .grid-container {
        /* OCULTA LAS TRES ULTIMAS COLUMNAS*/
        grid-template-columns: 1fr 1fr 1fr;
        /* max-width: 97%; */
        /* margin: auto; */
    }

}

/* PANTALLAS GRANDES OCULTAR*/
/* MEDIDA 910 MODO PAISAJE LIMITE MOTOROLA G8 POWER LITE  */
@media (min-width: 859px) {
    .plus-icon {
        display: none;
    }

    .expanded-info {
        display: none;
    }

}

/****************** MODO TABLET ********************/

@media(max-width: 1290px) {
    .crud-form {
        display: inline;
        margin: auto;
        width: auto;
        background-color: red;
        padding: 7px;
        border-radius: 12px;
        bottom: 10px;
    }
}




































/* ZOOM IMAGE */
@media (min-width: 1000px) {
    .zoom {
        /* position: absolute; */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        /* Evita que el mouse interactúe con el zoom */
    }

    .zoom:hover .imageFull {
        transform: scale(2);
        /*EscalalaimageFullal200%*/
        transform-origin: 50% 50%;
        /* Establece el origen del zoom */
    }

    .zoom-area {
        position: absolute;
        width: 50px;
        /* Ancho del área de zoom */
        height: 50px;
        /* Alto del área de zoom */
        background: rgba(255, 255, 255, 0.2);
        /* Color de fondo para visualizar el área de zoom */
        cursor: none;
        /* Oculta el cursor */
        pointer-events: auto;
        /* Permite interactuar con el área de zoom */
        border-radius: 50%;
    }
}