/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.crud-app-container {
  padding: 20px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.crud-form {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 8rem 8rem 1fr 1fr 1fr 8rem; /* Columnas ajustadas para incluir las nuevas */
  gap: 1px; /* Espacio entre celdas para borde */
  padding: 20px;
  border: 3px solid #ddd; /* Borde general alrededor del contenedor */
}

.grid-header {
  padding: 10px;
  background-color: #f4f4f4; /* Color de fondo de los encabezados */
  border: 3px solid #ddd; /* Borde de los encabezados */
  text-align: center; /* Alineación del texto horizontal */
  font-weight: bold; /* Resaltar el texto de los encabezados */
  max-width: 13em;
}

.grid-item {
  padding: 10px;
  border: 3px solid #ddd; /* Borde de las celdas */
  text-align: center; /* Alineación del texto horizontal */
  background-color: #fff; /* Color de fondo de las celdas */
  max-width: 13em;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 6 columnas iguales en pantallas pequeñas */
    gap: 1px; /* Espacio entre celdas para borde */
    padding: 20px 0;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 0.85em;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    gap: 1px; /* Espacio entre celdas para borde */
    padding: 20px 0;
    border: 2px solid #ddd; /* Borde general alrededor del contenedor */
  }

  .grid-header {
    display: none; /* Ocultar los encabezados de columna en pantallas pequeñas */
  }

  .grid-item {
    display: block;
    width: 100%;
  }
}
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.crud-app-container {
  padding: 20px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.crud-form {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 8rem 8rem 1fr 1fr 1fr 8rem; /* Columnas ajustadas para incluir las nuevas */
  gap: 1px; /* Espacio entre celdas para borde */
  padding: 20px;
  border: 3px solid #ddd; /* Borde general alrededor del contenedor */
}

.grid-header {
  padding: 10px;
  background-color: #f4f4f4; /* Color de fondo de los encabezados */
  border: 3px solid #ddd; /* Borde de los encabezados */
  text-align: center; /* Alineación del texto horizontal */
  font-weight: bold; /* Resaltar el texto de los encabezados */
  max-width: 13em;
}

.grid-item {
  padding: 10px;
  border: 3px solid #ddd; /* Borde de las celdas */
  text-align: center; /* Alineación del texto horizontal */
  background-color: #fff; /* Color de fondo de las celdas */
  max-width: 13em;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 6 columnas iguales en pantallas pequeñas */
    gap: 1px; /* Espacio entre celdas para borde */
    padding: 20px 0;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 0.85em;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    gap: 1px; /* Espacio entre celdas para borde */
    padding: 20px 0;
    border: 2px solid #ddd; /* Borde general alrededor del contenedor */
  }

  .grid-header {
    display: none; /* Ocultar los encabezados de columna en pantallas pequeñas */
  }

  .grid-item {
    display: block;
    width: 100%;
  }
}
