.highlight {
    background-color: lightskyblue !important;
    /* Color para resaltar la fecha de hoy */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.title {
    text-align: center;
    margin-bottom: 20px;
    color: skyblue;
}

.crud-form {
    display: flex;
    /* margin-bottom: 20px; */
    /* height: 13rem; */
    flex-direction: column;
    width: 30%;
    height: 0;
    margin-right: auto;
    max-width: 30%;
    margin-top: 4%;
}

.crud-form input,
.crud-form button {
    margin: 3px;
    padding: 5px;
    width: 250px;
}

.crud-form button {
    width: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: 8rem 8rem 1fr 1fr 1fr 120px;
    /* Seis columnas */
    gap: 1px;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-bottom: 10rem;
}

.grid-header {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    /* max-width: min-content;
    overflow: clip; */
    align-content: center;
}



.expanded-info {
    grid-column: span 3;
    min-height: 40em;
}

.expand-title {
    border: 0;
}

.expand-content {
    border: 0;
}

.plus-icon {
    display: flex;
    flex-direction: column-reverse;
    font-size: 3em;
    font-weight: bolder;
    color: darkblue;
    cursor: pointer;
    vertical-align: middle;
}

/* PANTALLAS GRANDES */
@media (min-width: 700px) {
    .plus-icon {
        display: none;
    }

    .expanded-info {
        display: none;
    }

    .title {
        font-size: 40px;
    }

    .grid-container {
        margin-left: 19rem;
        width: 70%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        /* grid-template-columns: 8rem 8rem 8rem 1fr 1fr 8rem */
    }

    .crud-app-container {
        /* grid-template-columns: 20% 1fr; */
        /* 20% para el formulario y el resto para la imageFull */
        /* height: 100vh; */
        /* Altura completa de la ventana */
        max-width: 95%;
        margin: auto;
    }

}


/* RESALTAR DIA ACTUAL Y BACKGROUND DE FILA SELECCIONADA E INFO EXPANDIDA */
.selected-row {
    background-color: aliceblue;
    font-weight: normal;
    /* Cambia a cualquier color que prefieras */
}


/* MENSAJES DE EDICION */

.message {
    padding: 10px 20px !important;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 225px !important;
    text-align: center;
    margin: 5px !important;
}


.message.show {
    opacity: 1;
}

.message.hide {
    opacity: 0;
}


/* OCULTA AGREGAR O ACTUALIZAR */
.submit-button {
    padding: 10px 20px !important;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 265px !important;
    text-align: center;
    margin: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.submit-button.hidden {
    display: none;
    position: absolute;
}


.message {
    /* Estilo básico del mensaje */
    display: none;
    /* Inicialmente oculto */
}

.message.show {
    display: inline;
    /* O el valor que prefieras para mostrar el mensaje */
}



/* TERRITORY imageFull FULL */
/* .territoryImageFull {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
} */

/* ZOOM imageFull */

.territoryImageFull {
    position: relative;
    width: 100%;
    /* Ajusta el ancho según sea necesario */
    /* height: 400px; */
    /* Ajusta la altura según sea necesario */
    /* overflow: hidden; */
}


/* Establece el origen de la rotación en el centro de la imagen */
.imageFull {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    /*Suavizalatransición*/
    margin: auto;
    display: flex;
    border-radius: 10px;
    /* transform: rotate(90deg); */
    /* Rota 90 grados en sentido horario */
    /* transform-origin: center; */

}

.zoom {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    /* Evita que el mouse interactúe con el zoom */
}

.zoom:hover .imageFull {
    transform: scale(2);
    /*EscalalaimageFullal200%*/
    transform-origin: 50% 50%;
    /* Establece el origen del zoom */
}

.zoom-area {
    position: absolute;
    width: 50px;
    /* Ancho del área de zoom */
    height: 50px;
    /* Alto del área de zoom */
    background: rgba(255, 255, 255, 0.2);
    /* Color de fondo para visualizar el área de zoom */
    cursor: none;
    /* Oculta el cursor */
    pointer-events: auto;
    /* Permite interactuar con el área de zoom */
    border-radius: 50%;
}


/* PANTALLAS CHICAS*/
@media (max-width: 700px) {
    body {
        font-size: 17px;
    }

    .crud-form {
        display: none;
    }

    .grid-header2 {
        display: none;
    }

    .grid-item2 {
        display: none;
    }

    .grid-header-expanded {
        background-color: unset;
        border: 0;
    }

    /* OCULTA LAS TRES ULTIMAS COLUMNAS EN 400PX */
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        /* max-width: 97%; */
        /* margin: auto; */
    }

    .grid-item {
        overflow: clip;
    }

    .imageFull {
        width: 97%;
        border-radius: 13px;
        margin: 0px auto 42px;
        display: flex;
    }
}