.highlight {
    background-color: lightskyblue !important;
    /* Color para resaltar la fecha de hoy */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.crud-app-container {
    display: grid;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: skyblue;
}

.crud-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.crud-form input,
.crud-form button {
    margin: 5px;
    padding: 3px;
    width: 230px;

}

.crud-form button {
    width: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: 8rem 8rem 1fr 1fr 1fr 120px;
    /* Seis columnas */
    gap: 1px;
    padding: 0;
    border: 0;
}

.grid-header {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    /* max-width: min-content;
    overflow: clip; */
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        /* Seis columnas iguales */
        gap: 0;
        padding: 0;
        border: 0;
    }
}

@media (max-width: 200px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-header {
        display: none;
        /* Ocultar encabezados en pantallas pequeñas */
    }

    .grid-item {
        display: block;
        width: 100%;
        /* position: absolute; */
    }
}

/* OCULTA LAS TRES ULTIMAS COLUMNAS EN 400PX */
@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 97%;
        margin: auto;
    }

    .grid-item {
        overflow: clip;
    }

}

.expanded-info {
    grid-column: span 3;
    min-height: 40em;
}

.expand-title {
    border: 0;
}

.expand-content {
    border: 0;
}

.plus-icon {
    display: flex;
    flex-direction: column-reverse;
    font-size: 3em;
    font-weight: bolder;
    color: darkblue;
    cursor: pointer;
    vertical-align: middle;
}

/* HIDE + PANTALLAS GRANDES */
@media (min-width: 400px) {
    .plus-icon {
        display: none;
    }

    .expanded-info {
        display: none;
    }
}

/* HIDE FORM */
@media (max-width: 400px) {
    .crud-form {
        display: none;
    }

    .grid-header2 {
        display: none;
    }

    .grid-item2 {
        display: none;
    }

    .grid-header-expanded {
        background-color: unset;
        border: 0;
    }
}

/* RESALTAR DIA ACTUAL Y BACKGROUND DE FILA SELECCIONADA E INFO EXPANDIDA */
.selected-row {
    background-color: aliceblue;
    font-weight: normal;
    /* Cambia a cualquier color que prefieras */
}


/* MENSAJES DE EDICION */

.message {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    font-size: 14px;
}

.message.show {
    opacity: 1;
}

.message.hide {
    opacity: 0;
}